section {
    text-align: center;
    position: relative;
  }
  
  .rotate {
    width: 70%;
    height: auto;
    max-width: 100%;
  }
  
  .above {
    font-size: 8vw;
    font-weight: bold;
    position: absolute;
    top: 10%;
    left: 35%;
    transform: translateX(-50%);
  }
  
  .below {
    font-size: 8vw;
    font-weight: bold;
    position: absolute;
    bottom: 10%;
    right: 30%;
    transform: translateX(50%);
    color: transparent;
    -webkit-text-stroke: 2px black;
    z-index: 2;
  }
  
  @media (max-width: 768px) {
    .above, .below {
      font-size: 6vw;
    }
    /* .navlist li{

    } */
  }
  
